.button-container{
    text-align: center;
    margin-bottom:8em;
}

.membership .join-btn{
    width:80%;
    max-width:370px;
    
}

/* membership cards */
.membership-card {
    border: 2px solid #0c7946;
    width: 80%;
}

.membership-card .price {

    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.membership-card:hover {
    cursor: pointer;
}

.benefits-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}

@media (max-width:1020px){
    .benefits-container{
        grid-template-columns:repeat(2,1fr);
        row-gap:5em;
    }
}

@media(max-width:700px){
    .join-btn{
        width:70%;
    }
}
