.trainers{
    background-color: #0c7946;
    
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
}

/* trainer cards */
.trainer-card {
    display: flex;
    flex-direction: column;
    max-width: 328px;
    width: 80%;
}

.name {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.profile li {
    margin-bottom: 0.5em;
}

.biography {
    text-align: left;
}

.trainer-btn-container {
    margin-top: auto;
}

.trainer-btn {
    margin-top: 1.5em;
    width: 90%;

}

@media (max-width:500px) {
    .cards-container{
        display:block;
    }
    .trainer-card {
        width: 90%;
    }
}